.cabecalho {
    display: flex;
    background-color: #2564CF;
    height: 48px;
    justify-content: space-between;
    
}  

.search{
    margin-left: auto;
    margin-right: auto;
}

.icone{
    color:#2564CF;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.icone-menu{
    display: flex;
    
}


