.paper {
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
}

.div-container {
    display: flex;
        justify-content:space-between;
}

.div-containerseguinte {
    display: flex;
        justify-content:space-between;

}

.div-containerposterior {
    display: flex;
        justify-content:space-between

}